body {
    font-size: 18px;
    background-image:url('https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-starry-background-dot-starlight-and-galaxy-background-material-backgroundgalaxystarblackspaceuniverse-image_86868.jpg');
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', monospace;
    overflow-y: auto;
    scrollbar-gutter: stable;

}

/* Styling for the card list */

.card-list {
    list-style-type: none;
    padding: 0;
    
    
}

.card {
    
    width: 80%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    height:180px;
    padding: 1rem;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;
}

.book-property-card {
    color:rgb(242, 144, 161);
    width: 40%;
    min-width:fit-content;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    height:280px;
    padding: 1rem;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;

}


.log-in_register-card {
    color:rgb(242, 144, 161);
    width: 40%;
    min-width:fit-content;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    height:260px;
    padding: 1rem;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;

}

/* styling for the property header on the bookings page */
#property-header{
    background-color: white;
    color:black;
    margin-top: 20px;
    outline-style: none;
    padding: 10px;
    
    
}

/* Styling for the card list */

.card-list {
    list-style-type: none;
    padding: 0;
    
    
}

/* styling for the top level cards for the my properties (placeholder)
.my-property-booking-card {
    
    width: 80%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    color: black;
    height:300px;
    padding: 1rem;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;

} 

/* styling for the booking card for my properties (placeholder) */

/* .my-booking-card {
    
    width: 100%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    transition: 0.3s;
    color: black;
    height:100px;
    padding: 1rem;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;
 } */

/* styling for the individual bookings */
.booking-card {
    
    width: 80%;
    transition: 0.3s;
    color: black;
    height:80px;
    padding: 1rem;
    border:pink;
    border-style: dotted;
    background-color: white;
    margin:20px auto;
    border-radius: 12px;
    overflow: auto;
    
    
}

  /* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: #f2f7f5; 
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    height: 70px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:active, .collapsible:hover {
background-color: rgb(255, 231, 145);
}

.content {
padding: 0 18px;
display: none;
overflow: hidden;
background-color: white;
color:black;
}


.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.collapsible.active:after {
    content: "\2212";
}

.container {
    width: 50%;
    max-width: 80%;
    min-width:fit-content;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.7);
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-color: white;
    margin-top:20px;
    margin-bottom:20px;
    border-radius: 12px;
}

.form_add_property{
    background-color: transparent;
    
}

label {
    color: black; /* Text color for labels */
    display:block;
    text-align: left;
}


input::placeholder {
    opacity: 0.5;
    color: red;
    text-align: left
}

textarea {
    width: 100%;
    height: 150px;
    border: 2px solid pink;
    border-radius: 4px;
    resize: none;
}
textarea::placeholder{
    opacity: 0.5;
    color: red;
    text-align: left
}

textarea:focus{
    outline: 3px solid #555;
}


input[type = text]{
    width: 100%;
    border: 2px solid pink;
    border-radius: 4px;
}

/* input#property_name{
    width: 100%;
    border: 2px solid pink;
    border-radius: 4px;
} */




input[type=email]{
    width: 100%;
    border: 2px solid pink;
    border-radius: 4px;
}

input[type=password]{
    width: 100%;
    border: 2px solid pink;
    border-radius: 4px;
}

ul {
    list-style: none;
}

#property_link{
    color:black;
}

#property_link:hover {
    color: pink;
}

input[type=submit] {
    background-color: #f2f7f5; 
    color: black;
    border: none; 
    width: 100%;
    border-radius: 12px;
    padding: 10px;



}
input[type=submit]:hover {
    background-color: rgb(255, 231, 145);
    color: rgb(148, 136, 136);
}


*:focus {
    outline: none;
}


input[type=text]:focus{
    outline: #555 solid 3px;
}


input[type=date] {
    height: 35px;
    margin: 0 auto;
    width: 100%;
    font-family: 'Courier New', monospace;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border:pink;
    border-style: dotted;
    border-radius: 12px;
    padding: 0 3px;
    color: hsl(0, 6%, 28%);

}