{% extends "layout.html" %}

{% block title %}
    Add New Property
{% endblock %}

{% block main %}

    <h1>Add New Property</h1>
    <form action="/add_property" method="post">
        <label for="property_name">Property Name:</label>
        <input type="text" id="property_name" name="property_name"><br><br>
        <label for="property_location">Property Location:</label>
        <input type="text" id="property_location" name="property_location"><br><br>
        <button type="submit">Add Property</button>
    </form>

{% endblock %}