{% extends "layout.html" %}

{% block title %}Bookings{% endblock %}

{% block main %}

<h1>Bookings</h1> 
    
    <h2>Your property bookings</h2>
    {% if my_properties %}

        {% for property in my_properties %}
            <div id = "property-header">
            Property Name: {{ property._property_name }}, price per night: £{{ property._price_per_night }}</button>
            </div>
            <button type="button" class="collapsible">open bookings</button>
                
                <!-- description: {{ property._description }} -->
                
            {% set property_id = property._id %}
            {% set bookings_for_property = booking_my_properties[property_id] %}
            {% if bookings_for_property %}
            
                <div class = "content">
                    <ul class = "card-list">
                    {% for booking in bookings_for_property %}
                    <div class = "booking-card">Booking id : {{booking.id}} . Booking from: {{ booking.dates_booked_from }} to {{ booking.dates_booked_to }}. Booked by user {{booking.booker_id}}</li>
                        {% if booking.approved == False %}
                            <form action = "/bookings/my_properties/{{booking.id}}" method = "post">
                                <input type = "submit" name = "submit_approval" id = "submit_approval" value = "Approve">
                                <!-- <input type = "submit" name = "submit_reject" id = "submit_reject" value = "Reject"> -->
                            </form>
                        {% else %}
                        <div id = "approved">
                            APPROVED
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    </ul>    
                </div>
            {% else %}
                <div class = "content">
                    <p>There are currently no bookings for this property.</p>
                    </div>
            {% endif %}
            
        {% endfor %}

    {% else %}
        <h3>You have no properties to be booked.</h3>
    {% endif %}

    <p></p>
    <h2>Your bookings</h2>
    
        {% if booked_properties %}
            <button type="button" class="collapsible">open bookings</button>
                <div class = "content">
                    <ul class="card-list">  
                        {% for booking in booked_properties %}
                            <li class="booking-card">Property Name: {{booking.property_name}} , Booked from : {{booking.dates_booked_from}} to {{booking.dates_booked_to}} , price per night: £{{booking.price_per_night}}
                            <!-- description: {{booking.description }} -->
                            {% if booking.approved == False %}
                                <div id = "awaiting-approval">
                                    AWAITING APPROVAL
                                </div>
                            {% else %}
                                <div id = "approved">
                                CONFIRMED
                            </div>
                            {% endif %}
                        {% endfor %}
                    </ul> 
                </div>
        {% else %}
            <h4>There are currently no bookings.</h4>
        {% endif %}
        
{% endblock %}