{% extends "layout.html" %}

{% block title %}Bookings{% endblock %}

{% block main %}

<h1>Bookings</h1> 
    
    <h2>Your property bookings</h2>
    {% if my_properties %}
        {% for property in my_properties %}
            <p>Property Name: {{ property._property_name }}, description: {{ property._description }}, price per night: {{ property._price_per_night }}</p>
            
            {% set property_id = property._id %}
            {% set bookings_for_property = booking_my_properties[property_id] %}
            {% if bookings_for_property %}
                <ul>
                    {% for booking in bookings_for_property %}
                        <li>Booking from: {{ booking.dates_booked_from }} to {{ booking.dates_booked_to }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                <h4>There are currently no bookings for this property.</h4>
            {% endif %}
        {% endfor %}
    {% else %}
        <h3>You have no properties to be booked.</h3>
    {% endif %}

    <h2>Your bookings</h2>
    {% if booked_properties %}
        {% for booking in booked_properties %}
                <p>Property Name: {{booking.property_name}} , description: {{booking.description }}, Booked from : {{booking.dates_booked_from}} to {{booking.dates_booked_to}} , price per night: £{{booking.price_per_night}}</p>
        {% endfor %}
    {% else %}
        <h3>There are currently no bookings.</h3>
    {% endif %}
        
{% endblock %}