{% extends "layout.html" %}

{% block title %}
    Book Property
{% endblock %}

{% block main %}

    <h1>Booking</h1>
    <p></p><h2>{{property._property_name}}</h2>
    
    <p> 
        Description: {{property._description}}<br>
    <div class = "book-property-card">
        Price per night: £{{property._price_per_night}}
    </p>

        <form action="/properties/{{property._id}}" method="post">
                <label for="date_from">Date From: </label>
                <div class="input-daterange input-group" id="datepicker">
                    <input 
                        type="text"
                        class="form-control date-field" 
                        name="start" 
                        id="date_from" 
                        placeholder="DD/MM/YYYY"
                    >
                    <div class="input-group-addon input-icon" id="input_icon_from">
                        <span id="basic-addon1">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                    </div>
                    <span class="input-group-addon" id="date-separator"><label class="input-group-addon" for="date_to">To:</label></span>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="end" 
                        id="date_to" 
                        placeholder="DD/MM/YYYY"
                    >
                    <div class="input-group-addon input-icon" id="input_icon_end">
                        <span id="basic-addon2">
                            <i class="fa-regular fa-calendar"></i>
                        </span>
                    </div>
                </div>
            <input type="submit" value="Create Booking">
            
        </form>
    </div>

    <script>
        $(document).ready(function() {

            let date = new Date();

            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                startDate: date,
                todayBtn: "linked",
                clearBtn: true,
                todayHighlight: true,
                datesDisabled: {{dates_taken | tojson}},
            });
        });
    </script>
{% endblock %}
