{% extends "layout.html" %}

{% block title %}
    Book Property
{% endblock %}

{% block main %}

    <h1>Booking</h1>
    <p></p><h2>{{property._property_name}}</h2>
    
    <p> 
        Description: {{property._description}}<br>
    <div class = "book-property-card">
        Price per night: £{{property._price_per_night}}
    </p>

        <form action="/bookings" method="post">
            <label for="date_from">Date From: </label>
            <input type="date" name="date_from" value="date_from">
            <br>
            <label for="date_to">Date To:</label>
            <input type="date" name="date_to" value="date_to">
            <br><br>
            <input type="submit" value="Create Booking">
            
        </form>
    </div>
{% endblock %}
