{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}


    {% if properties %}
        <h2>Property Listings</h2>
        <div id = "property-listings">
            <ul class = "card-list">
                {% for property in properties %}
                    <li class = "card">
                        <a id="property_link" href="/properties/{{property._id}}">
                            {{ property._property_name }} - Description: {{ property._description }} - Price per night {{ property._price_per_night}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- <ul>
            {% for property in properties %}
                <li>{{ property.name}} - User {{ property.location }} - Price per night {{ property.price}}</li>
            {% endfor %}
        </ul> -->
    {% else %}
        <h2>There are currently no properties to book.</h2>
    {% endif %}

{% endblock %}

